In [1]:
import numpy as np
import pandas as pd
import random as rd
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX


#settings
import warnings
warnings.filterwarnings("ignore")

In [2]:
sales = pd.read_csv("../../data/sales_train.csv")

item_cat = pd.read_csv("../../data/item_categories.csv")
item = pd.read_csv("../../data/items.csv")
sub = pd.read_csv("../../data/sample_submission.csv")
shops = pd.read_csv("../../data/shops.csv")
test = pd.read_csv("../../data/test.csv")

In [3]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [4]:
sales.date = sales.date.apply(lambda x:datetime.datetime.strptime(x, '%d.%m.%Y'))

In [5]:
sales.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00           1.0
1 2013-01-03               0       25     2552      899.00           1.0
2 2013-01-05               0       25     2552      899.00          -1.0
3 2013-01-06               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [6]:
monthly_sales = sales.groupby(["date_block_num", "shop_id", "item_id"])[
                "date", "item_price", "item_cnt_day"].agg({"date":["min", "max"],
                                        "item_price": "mean", "item_cnt_day": "sum"})